<mat-toolbar color="primary">
  Login
  <span class="flex-spacer"></span>
  <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>

<p>{{user | json}}</p>
<form novalidate #loginForm="ngForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <p>
      <mat-input-container dividerColor="{{ username.invalid  && !username.pristine ? 'warn':'primary'}}">
        <input type="text" name="username" placeholder="username" [(ngModel)]="user.username" #username="ngModel" matInput required> 
        <mat-hint>
            <span [hidden]="username.pristine">
              <span [hidden]="!username.errors?.required">username is required</span>
            </span>
        </mat-hint>
      </mat-input-container>
      <mat-input-container dividerColor="{{ password.invalid  && !password.pristine ? 'warn':'primary'}}">
          <input type="text" name="password" placeholder="password" [(ngModel)]="user.password" #password="ngModel" matInput required> 
          <mat-hint>
              <span [hidden]="password.pristine">
                <span [hidden]="!password.errors?.required">Password is required</span>
              </span>
            </mat-hint>
      </mat-input-container>
      <mat-checkbox name="remember" [(ngModel)]="user.remember">Remember</mat-checkbox>
    </p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <span class="flex-spacer"></span>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button type="submit" class="background-primary text-floral-white" 
      [disabled] = "loginForm.form.invalid">Login</button>
  </mat-dialog-actions>
</form>