<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3>{{dish.name | uppercase}}</h3>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{BaseURL + dish.image}}" alt="{{dish.name}}">
        <mat-card-content>
          <p>{{dish.description}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [routerLink]="['/dishdetail',prev]">
            <span class="fa fa-chevron-left fa-lg"></span>
          </button>
          <button mat-button (click)="goBack()">BACK</button>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
          <button mat-button [routerLink]="['/dishdetail',next]">
            <span class="fa fa-chevron-right fa-lg"></span>
          </button>
        </mat-card-actions>
      </mat-card>
      
  </div>

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    
    <mat-list >
      <h3>Comments</h3>
      <mat-list-item *ngFor="let comments of dish.comments">
        <h1 mat-line>{{comments.comment}}</h1>
        <h1 mat-line>{{comments.rating}} Stars</h1>
        <h1 mat-line>-- {{comments.author}} {{comments.date | date}}</h1>
      </mat-list-item>
    </mat-list>
    <div *ngIf="commentForm.valid">
      <mat-list >
        <mat-list-item>
          <h1 mat-line>{{commentForm.value.comment}}</h1>
          <h1 mat-line>{{commentForm.value.rating}} Stars</h1>
          <h1 mat-line>-- {{commentForm.value.author}}</h1>
        </mat-list-item>
      </mat-list>
    </div>
    <form novalidate [formGroup]="commentForm" (ngSubmit)="onSubmit()">
        <p>
          <mat-input-container class="full-width"
            dividerColor = "{{(formErrors.author) ? 'warn':'primary'}}">
            <input matInput type="text" formControlName="author" placeholder="Name">
            <mat-hint>
                <span [hidden]="!(formErrors.author)">
                    {{formErrors.author}}
                </span>
              </mat-hint>
          </mat-input-container>
        </p>
        <mat-slider thumbLabel tickInterval="1" formControlName="rating" min="1"  max="5" value="5"></mat-slider>
        <p>
          <mat-input-container class="full-width"
            dividerColor = "{{(formErrors.comment) ? 'warn':'primary'}}">
            <textarea matInput formControlName="comment" placeholder="Your Comment" rows=12></textarea>
            <mat-hint>
                <span [hidden]="!(formErrors.comment)">
                    {{formErrors.comment}}
                </span>
              </mat-hint>
          </mat-input-container>
        </p>
        <button type="submit" mat-button class="background-primary text-floral-white"
          [disabled] = "commentForm.invalid">Submit</button>
      </form>
  </div>
  <div [hidden]="dish || errMess">
      <mat-spinner></mat-spinner><h4>Loading ... Please Wait</h4>
  </div>
  <div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
</div>